# Byte-compiled/optimized
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
env*/
venv*/
ENV*/
VENV*/
.env*/
.venv*/
.ENV*/
.VENV*/
.python-version

# pipenv
Pipfile.lock

# Bot config files
config.yml

# Bot database files
*.db
*.sqlite
*.sqlite3

# Windows/macOS stuff
Thumbs.db
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# IDE stuff
.vscode/
.idea/
*.code-workspace
.spyderproject
.ropeproject
