[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = ">=0.4.6"
psutil = ">=5.9.5"
pyyaml = ">=6.0"
databases = {version = ">=0.7.0", extras = ["sqlite"]}
disnake = ">=2.9.0"
asyncpraw = ">=7.7.0"
pygit2 = ">=1.12.2"

[dev-packages]

[requires]
python_version = "3.11"
